@import './base.css';

#app {
  max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 80px 2rem 2rem 2rem;
  font-weight: normal;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
